@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import './styles/global';

$the-border: 1px solid white;

body,
main,
input,
button {
  background-color: black;
  color: white;
}

input,
button {
  &:focus {
    outline: none;
  }
}

h1 {
  font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

main {
  padding: 32px;
  text-align: center;
}

input[type='text'] {
  border: $the-border;
  padding: 0.5em 1em;
  width: 260px;
  letter-spacing: 1px;
}

button {
  border: $the-border;
  padding: 0.5em 1em;
  cursor: pointer;
}

.search-btn {
  margin-left: 8px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0 0 0;
  padding: 0;
  justify-content: center;
  max-width: 1000px;
  list-style: none;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  button {
    margin: 0 8px;
  }
}

.movie-component {
  display: block;
  width: 200px;
  height: 360px;
  border: $the-border;
  margin: 8px;
  overflow: hidden;
  transition: transform 0.4s ease;
  cursor: pointer;

  img {
    width: 100%;
    height: 300px;
    display: block;
  }

  h3 {
    height: 60px;
    margin: 0;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: $the-border;
  }

  &:hover {
    transform: scale(1.05);
  }
}
